body {
  background-image: url("https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  font-family: 'Montserrat', sans-serif;

}

span {
  font-size: 3em;
}
 article, form {
   width: 90%;
   margin: 0 auto;
 }

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
 
 }

 li {
   float: left;
   padding: 4px;
 }

 a {
   color: #00487C;

 }

 a:hover {
   background-color: #2DA6FC;
   color: #D9EDFC;
   
 }

 main {
   width: 80%;
   margin: 0 auto;
 }

 p {
  font-family: 'Montserrat', sans-serif;

 }

 .clearfix::after {
   display: block;
   clear: both;
   content: "";
 }

 .area1 {
  background-color: #BCE3FF;
  height: 450px;
 }

 .fontstuff {
    font-family: 'Germania One', cursive;
 }

 #topbar {
   background-color: #BCE3FF;
 }

 #yourname {
  width: 25%;
  float: left;
  margin-left: 150px;
  background-color: #00487C;
  color: #D9EDFC;
  margin-bottom: 0;
 }

 #navbar {
   width: 25%;
   float: right;
   padding-top: 30px;
   margin-right: 17px;
 }

#area1hr {
  width: 40%;
  float: left;
}

 #img {
   float: left;
   margin-right: 20px;
   border: darkblue 3px solid;
 }

 #aboutmep {
   display: in-line;
 }

 #contactarea {

 }